<h3>Base stats</h3>
<table class="table table-striped">
  <tbody>
    <tr *ngFor="let stat of pokemon.stats">
      <td class="stat-name">{{stat.stat.name}}</td>
      <td class="base-stat">{{stat.base_stat}}</td></tr>
  </tbody>
</table>