tr {
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

td {
    border: none;
}

.stat-name {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.base-stat {
    float: right;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: lightblue;
    align-items: center;
    display: flex;
    justify-content: center;
}