header {
    height: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(rgba(173, 216, 230, 0.8), rgba(30, 30, 30, 0));
}

h1 {
    margin-top: -70px;
}

#list-container {
    margin-top: -70px;
}