<header>
  <h1 class="display-1 text-muted">Pokemon list</h1>
</header>

<div id="list-container" class="container">
  <div *ngIf="pokemons" class="d-flex flex-wrap justify-content-center">
    <app-pokemon-list-item *ngFor="let p of pokemons.results" [pokemon]=p style="flex: 1 0 20%"
      class="d-flex justify-content-center view">
    </app-pokemon-list-item>
  </div>
  
  <div class="d-flex justify-content-center mb-2 p-4" style="width: 100%;">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" style="cursor:pointer;">
          <a *ngIf="!pageIs(1)" (click)="update(0)" routerLink="/" class="page-link">|&lt;&lt;</a>
          <a *ngIf="pageIs(1)" class="page-link  text-white">|&lt;&lt;</a>
        </li>
        <li class="page-item" style="cursor:pointer;">
          <a *ngIf="!pageIs(1)" (click)="update(-1)" routerLink="/page/{{this.getPageNr()-1}}" class="page-link">&lt;</a>
          <a *ngIf="pageIs(1)" class="page-link text-white">&lt;</a></li>
        <li class="page-item" style="cursor:pointer;">
          <a *ngIf="!pageIs(49)" (click)="update(1)" routerLink="/page/{{this.getPageNr()+1}}" class="page-link">&gt;</a>
          <a *ngIf="pageIs(49)" class="page-link text-white">&gt;</a></li>
        <li class="page-item">
          <a *ngIf="!pageIs(49)" (click)="update(49)" routerLink="/page/49" class="page-link" style="cursor:pointer;">&gt;&gt;|</a>
          <a *ngIf="pageIs(49)" class="page-link text-white">&gt;&gt;|</a></li>
      </ul>
    </nav>
  </div>
</div>