<header>
  <img *ngIf="pokemon" id="avatar" src="{{pokemon.sprites.front_default}}">
</header>
<div id="details-container" class="container">
  <button type="button" (click)="goBack()" class="btn btn-lg btn-primary">back</button>
  
  <ul *ngIf="pokemon" class="list-group list-group-flush">
    <li class="list-group-item"><app-pokemon-profile [pokemon]="pokemon"></app-pokemon-profile></li>
    <li class="list-group-item"><app-pokemon-stats [pokemon]="pokemon"></app-pokemon-stats></li>
    <li class="list-group-item"><app-pokemon-abilities [pokemon]="pokemon"></app-pokemon-abilities></li>
    <li class="list-group-item"><app-pokemon-sprites [pokemon]="pokemon"></app-pokemon-sprites></li>
    <li class="list-group-item" style="border: none"><app-pokemon-moves [pokemon]="pokemon"></app-pokemon-moves></li>
  </ul>
<div>