header {
    height: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(rgba(173, 216, 230, 0.8), rgba(30, 30, 30, 0));
}

* {
    text-transform: capitalize;
}

#details-container {
    margin-top: -50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px #00000035;
    border: 15px solid white;
    border-radius: 15px;
    background-color: white;
}

#avatar {
    border-radius: 50%;
    border: 10px solid lightblue;
    padding: 10px;
    box-shadow: 0 0 20px #00000035;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
    background-color: white;
}