<h3>Sprites</h3>
<div>
  <img src="{{sprites.front_default}}" class="float-left">
  <img src="{{sprites.front_female}}" class="float-left">
  <img src="{{sprites.front_shiny}}" class="float-left">
  <img src="{{sprites.front_shiny_female}}" class="float-left">
  <img src="{{sprites.back_default}}" class="float-left">
  <img src="{{sprites.back_female}}" class="float-left">
  <img src="{{sprites.back_shiny}}" class="float-left">
  <img src="{{sprites.back_shiny_female}}" class="float-left">
</div>