<h1 class="display-1">{{pokemon.name}}</h1>
<div class="d-flex flex-row justify-content-center">
  <div class="p-2" *ngFor="let type of pokemon.types">
    <p class="type-box">{{type.type.name}}</p>
  </div>
</div>
<table class="table table-borderless">
  <tbody class="text-muted text-center">
    <td>
      <p class="display-3 text-lowercase">{{pokemon.weight}} kg</p>
      <p class="h5">weight</p>
    </td>
    <td>
      <p class="display-3 text-lowercase">{{pokemon.height}} m</p>
      <p class="h5">height</p>
    </td>
  </tbody>
</table>