h1 {
    text-align: center;
}

.type-box {
    padding-bottom: 6px;
    padding-top: 4px;
    padding-right: 10px;
    width: 100px;
    text-align: right;
    border: 1px solid rgba(173, 216, 230, 0.6);
    border-radius: 6px;
}
