tr {
    height: 40px;
    border-radius: 20px;
    display: flex;
}

td {
    border: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}