<div *ngIf="pokemon"
class="card m-1 hoverable"
style="width: 
10rem; cursor:pointer;"
routerLink="/pokemon/{{id}}">
  <img class="card-img-top" src="{{getUrl()}}" alt=" " height="159" width="159">
  <div class="card-body text-center"><b>{{getName()}}</b></div>
</div>